<p class="text-sm text-slate-500">Octubre 2021 - Octubre 2022</p>
<ul class="list-disc list-inside mt-4 text-gray-800">
  <li>Soporte y desarrollo de aplicaciones.</li>
  <li>REST API.</li>
  <li>PHP - Laravel.</li>
  <li>Mysql - MongoDB.</li>
  <li>PowerApp, SharePoint, PowerAutomate.</li>
  <li>CMS wordpress.</li>
  <li>Scrum.</li>
</ul>
