---
import Experience1_1_modal from "./Experience1-1_modal.astro"
---

<div class="mb-3">
  <p class="text-sm text-slate-500">Octubre 2017 - Octubre 2021</p>
  <ul class="list-disc list-inside mt-4 text-gray-800">
    <li>Análisis y soporte de aplicaciones y procesos batch.</li>
    <li>PLSQL, Oracle Forms y Oracle Database.</li>
    <div class="text-sm text-gray-700 bg-slate-200 m-2 p-4 rounded-lg w-auto">
      <h4>Soluciones y servicios:</h4>
      <li>Errores aplicativos.</li>
      <li>Inconsistencias de datos.</li>
      <li>Validación de procesos batch.</li>
      <li>Desarrollo de scripts de consultas y actualización de bases de datos usando SQL.</li>
      <li>Análisis y depuración de forms.</li>
      <li>Desarrollo de informe de registros.</li>
    </div>
  </ul>
</div>
<Experience1_1_modal />
