---
import Experience1_1 from "./Experience1-1.astro"
import Experience1_2 from "./Experience1-2.astro"
---

<div class="bg-white dark:bg-slate-300 p-6 rounded-lg shadow-lg">
  <h3 class="text-3xl font-semibold text-gray-800">Indra S.A</h3>
  <Experience1_2 />
  <br />
  <Experience1_1 />
</div>
