---
import Init from "./sections/Init.astro"
import About from "./sections/About.astro"
import Experience from "./sections/expecience/Experience.astro"
import Formation from "./sections/Formation.astro"
import Skills from "./sections/Skills.astro"
import Projects from "./sections/Projects.astro"
import Contact from "./sections/Contact.astro"
---

<main>
  <Init />
  <About />
  <Skills />
  <Experience />
  <Formation />
  <Projects />
  <Contact />
</main>
