<footer class="w-full bg-slate-950 text-white">
  <div class="text-ms py-2 container mx-auto flex justify-evenly tracking-wider">
    <p>© 2025 <span class="px-1"></span> Fernando Brandán</p>
    <p>Bun<span class="px-2"></span> Astro <span class="px-2"></span> Tailwind</p>
  </div>
</footer>
