---

---

<div class="pr-24 flex gap-x-8 dark:text-gray-400">
  <a href="#about" class="hover:text-blue-600">Sobre mí</a>
  <a href="#experience" class="hover:text-blue-600">Experiencia</a>
  <a href="#education" class="hover:text-blue-600">Formación</a>
  <a href="#skills" class="hover:text-blue-600">Habilidades</a>
  <a href="#projects" class="hover:text-blue-600">Proyectos</a>
  <a href="#contact" class="hover:text-blue-600">Contacto</a>
  <a href="src/assets/cv.pdf" download="cv.pdf" class="hover:text-blue-600">Descargar CV</a>
</div>
