<section id="about" class="py-20 bg-slate-500 dark:bg-slate-700 min-h-[50vh]">
  <div class="container mx-auto px-40 text-white dark:text-slate-200">
    <h2 class="text-4xl font-bold mb-6">Sobre mí</h2>
    <p class="text-lg leading-relaxed">
      Soy técnico en programación con experiencia en soporte de aplicaciones y desarrollo. Me especializo en backend, pero tengo conocimientos sólidos en frontend, lo que me permite comprender y abordar todo el ciclo de desarrollo. Actualmente, busco nuevos desafíos para seguir
      creciendo como desarrollador backend y frontend. Siempre en constante aprendizaje y desarrollo de nuevos proyectos.

      <!-- Soy técnico en programación con experiencia en soporte de aplicaciones y desarrollo. Actualmente, estoy buscando nuevos desafíos para crecer como desarrollador backend y frontend. -->
    </p>
  </div>
</section>
