<section class="flex justify-center items-center min-h-screen bg-slate-200 dark:bg-slate-800">
  <div class="text-center">
    <div class="rounded-3xl shadow-2xl p-12 border-4 bg-slate-300 dark:bg-gray-800 border-gray-300 dark:border-gray-700 hover:shadow-lg transition-shadow duration-300">
      <div class="text-center">
        <h3 class="text-7xl font-bold text-gray-800 dark:text-white">Fernando Brandán</h3>
        <p class="text-gray-500 dark:text-gray-300">Software developer backend and frontend</p>
        <div class="mt-4 flex justify-center space-x-4">
          <p class="text-blue-500 hover:text-blue-600">NodeJs</p>
          <p class="text-blue-500 hover:text-blue-600">Typescript</p>
          <p class="text-blue-500 hover:text-blue-600">Laravel</p>
          <p class="text-blue-500 hover:text-blue-600">Microservicios</p>
          <p class="text-blue-500 hover:text-blue-600">Oracle</p>
        </div>
      </div>
    </div>
  </div>
</section>
